/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.app-main{
    overflow: auto;
    position: absolute;
    display: flex;
    background-color: #25252b;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
}
.groban *{
    background-image: url('users/groban.jpg') ;
}
.jaed *{
    background-image: url('users/jae.jpg') ;
}
a{
    color:rgb(114,137,218);
    text-decoration: none;
}
button {
    cursor: pointer;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px 10px;
}

.blue{
    color: #7289da;
}

.grey{
    color: #8e9297;
}

.black{
    color: black;
}
.green{
    color: #43b581;
}
button.green{
    color: white;
    background-color: #43b581;
}

button.green:hover{
    background-color: #2b7554;
}

button.red{
    color: white;
    background-color: rgb(83, 1, 1);
}
button.red:hover{
    background-color: rgb(44, 0, 0);
}

button.blue{
    color: white;
    background-color: #7289da;
}
button.blue:hover{
    background-color: #5a71c5;
}

button.black{
    color:black;
    background-color: rgba(0,0,0,0);
    border: 0px;
}
button.black:hover{
    color:black;
    border: 1px solid black;
}


button.grey{
    color: #8e9297;
    border: 2px solid #8e9297;
    padding: 5px 17px 7px;
    border-radius: 20px;
    line-height: 24px;
    margin-right: 18px;
    background-color: rgba(0,0,0,0);
}

button.grey:hover{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.wide{
    width: 100%;
    }
body{
    overflow: hidden;
}
.white{
    color: white;
}
li{
    list-style: none;
}
h1{
    color: white;
    margin:0px;
}
p{
    color: grey;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, label, input, li, ul, div {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.pointer {
    cursor: pointer;
}
h4{
    margin:0;
}