.channels-title > h1 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}
.channels-names-list{
    margin: 0px 5px;
    padding: 0px 5px;
}

.channels-names-list li {
    width: 100%;
    padding: 5px;
    margin: 0px 5px 8px 5px;
    font-size: 18px;
}
.text-channels{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.text-channels h2:first-child{
    display: flex;
    float: left;
    font-size: 12px;
    margin: 10px;
    text-align: center;
}
.text-channels h2:last-child{
    display: flex;
    float: right;
    font-size: 24px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.leave-button{
    width: 80%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    position: absolute;
    bottom: 00px;
    margin: 10px;
    font-size: 12px;
    float: right;
}
.channel-item {
    box-sizing: border-box;
    font-size: 12px;
}
.channel-item:hover{
    color: white;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
}
.selected {
    color: white;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
}