
.icon {
    box-sizing: border-box;
    position: relative;
    background-color: teal;
    border-radius: 75%;
    height: 48px;
    width: 48px;
    padding: 0px;
    margin: 0px;
    border: 0px
}
.icon:hover{
    border-radius: 40%;
    border: 1px solid black;
}
.servers-index{
    display: flex;
    background-color: rgb(32,34,37);
    width: 89px;
    height: 100%;
    flex-direction: column;
}
.channels-index{
    display: flex;
    background-color: rgb(47,49,54);
    width: 280px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.messages-index{
    display:flex;
    background-color:#36393f;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.channels-title{
    display: flex;
    box-sizing: content-box;
    height: 52px;
    border-bottom: 1px solid black;
    overflow: hidden;
    align-items: center;
}
.channels-list{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.channels-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    bottom: 0;
    background-color: rgb(41,43,47);
}

.user-icon{
    height: 32px;
    width: 32px;
}
.chat-users{
    padding: 20px;
    display: flex;
    flex:right;
    height: 100%;
    width: 232px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(47,49,54);
}
.users-list-user{
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.users-list-user > img {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.users-list {
    margin: 0px;
    padding: 0px;
}
.messages-header{
    box-sizing: content-box;
    border-bottom: 1px solid black;
    height: 48px;
    overflow: hidden;
}
.messages-main{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.messages-middle{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}

.messages-body{
    display: flex;
    height: 100%;
}
.messages-bottom{
    display: flex;
    height: 68px;
}

