.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    height: 350px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
  }

  .choose-create-join-server{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .choose-create-join-server > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .choose-create-join-server {
    margin: 20px;
  }
  .choose-create-join-server h3{
    font: caption;
  }
  .choose-create-join-server-option{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 230px;
    border: rgb(197, 197, 197) 1px solid;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
  }
  .choose-create-join-server-option:hover{
    border: rgba(197, 197, 197, 0.7) 3px inset;
  }
  .choose-create-join-server-option img{
    width: 200px;
    height: 80px;
    margin: 10px;
  }

  .create-server{
    height: 375px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
  }

  .create-server form{
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-server label{
    font-size: 24px;
    font-weight: bold;
  }

  .create-server input{
    padding: 10px;
    margin: 20px;
    width:  80%;
    border: 0px;
    border-bottom: 1px grey solid;
  }

  .create-server > div:first-child{
    box-sizing: border-box;
    padding: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .create-server > div:last-child{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 20%;
    background-color: rgb(219, 219, 219);
    overflow: hidden;
  }
  .create-button{
    position: absolute;
    right: 20px;
    bottom: -5px;
  }

  .errors-ul{
    margin: 0px;
    padding: 0px;
  }
  .errors-li{
    color: red;
    margin: 0px;
    padding: 5px 0px;
  }

  .create-channel-base{
    display: flex;
    justify-content: space-around;
  }