.session-form{
    background-color: rgb(54,57,63);
    border: 1px solid;
    display: flex;
    position: absolute;;
    right: 20%;
    left: 20%;
    top:20%;
    flex-direction: column;
    padding: 30px;
    color: #8e9297;
    width: 500px;
    border-radius: 8px;
}
.session-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('signinback.jpg') ;
}
.session-form h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.session-form > form > *{
    padding: 20px 0px;
    margin: 20px 0px;
}
.session-form input {
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
    color: white;
    background-color: #202122;
    padding: 10px;
}

