.session-form{
    background-color: rgb(54,57,63);
    border: 1px solid;
    display: flex;
    position: absolute;;
    right: 20%;
    left: 20%;
    top:20%;
    flex-direction: column;
    padding: 30px;
    color: #8e9297;
    width: 500px;
    border-radius: 8px;
}
.session-background{
    position: absolute;
    height: 100%;
    width: 100%;
}
.session-img {
    position: absolute;
    display: flex;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.session-form h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.session-form > form > *{
    padding: 20px 0px;
    margin: 20px 0px;
}
.session-form input {
    width: 96%;
    border: black 1px solid;
    border-radius: 5px;
    color: white;
    background-color: #202122;
    padding: 10px;
}

.session-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.session-logo {
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px
}
.session-logo img{
    color: black;
    filter: invert(100%);
}