.splash-page{
    display: flex;
    justify-content: center;
}
.splash-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.splash-body p{
    text-align: center;
}
.logo img{
    height: 45px;
}
img.logo-img{
    display: flex;
    height: 25px;
    justify-content: center;
}
.logo{

    align-items: center;
    display: flex;
    float: left;
}
.splash-header{
    width: 100%;
}
.right-side{
    display: flex;
    float:right;
}